# Cmder
/apps/Cmder/config/clink*
!/apps/Cmder/config/clink_settings

# FanControl
/apps/FanControl/Configurations/*
!/apps/FanControl/Configurations/*.json

# FileZilla
/apps/FileZilla/config/queue.sqlite3

# MPV
/apps/mpv/portable_config/cache/
/apps/mpv/portable_config/watch_later/

# OBS Studio
/apps/OBS Studio/obs-studio/*
!/apps/OBS Studio/obs-studio/global.ini
!/apps/OBS Studio/obs-studio/basic/
/apps/OBS Studio/obs-studio/basic/**/*.bak
/apps/OBS Studio/obs-studio/basic/**/service.json

# SVP
/apps/SVP/settings/*.lic

# VSCode
/apps/VSCode/User/*
!/apps/VSCode/User/keybindings.json
!/apps/VSCode/User/settings.json
