# Cmder
/apps/Cmder/config/clink*
!/apps/Cmder/config/clink_settings

# FanControl
/apps/FanControl/Configurations/*
!/apps/FanControl/Configurations/*.json

# FileZilla
/apps/FileZilla/config/queue.sqlite3

# MPV
/apps/mpv/portable_config/cache/
/apps/mpv/portable_config/watch_later/

# OBS Studio
/apps/OBS Studio/obs-studio/*
!/apps/OBS Studio/obs-studio/global.ini
!/apps/OBS Studio/obs-studio/basic/
/apps/OBS Studio/obs-studio/basic/**/*.bak
/apps/OBS Studio/obs-studio/basic/**/service.json

# PhpStorm
/apps/PhpStorm/profile/*

!/apps/PhpStorm/profile/config/
/apps/PhpStorm/profile/config/*
!/apps/PhpStorm/profile/config/disabled_plugins.txt
!/apps/PhpStorm/profile/config/codestyles/
!/apps/PhpStorm/profile/config/colors/
!/apps/PhpStorm/profile/config/keymaps/

!/apps/PhpStorm/profile/config/options/
/apps/PhpStorm/profile/config/options/*
!/apps/PhpStorm/profile/config/options/code.style.schemes*
!/apps/PhpStorm/profile/config/options/colors.scheme.xml
!/apps/PhpStorm/profile/config/options/editor.xml
!/apps/PhpStorm/profile/config/options/editor-font.xml
!/apps/PhpStorm/profile/config/options/gutter.xml
!/apps/PhpStorm/profile/config/options/KeyPromoterXStatistic.xml
!/apps/PhpStorm/profile/config/options/terminal.xml

!/apps/PhpStorm/profile/config/options/windows/
/apps/PhpStorm/profile/config/options/windows/*
!/apps/PhpStorm/profile/config/options/windows/keymap.xml

# SVP
/apps/SVP/settings/*.lic

# VSCode
/apps/VSCode/User/*